@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
  gap: 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: flex 0.5s ease-in-out;
  position: relative;
}

.slide.active {
  flex: 10;
}

.slide h3 {
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.2s;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.slide.active h3 {
  opacity: 1;
}
